<div class="h-screen flex justify-center items-center">
  <main class="border border-gray-300 p-10 rounded-3xl">
    <h1 class="text-2xl font-bold">Note App Sign In</h1>
    <p>Enter your login credentials to continue</p>
    <div class="mt-6">
      <label for="txt-email">Email</label>
      <input class="input"
             type="email" id="txt-email"
             placeholder="Enter your email here">
    </div>
    <div class="mt-4">
      <label for="txt-password">Password</label>
      <input class="input"
             type="password" id="txt-password"
             placeholder="Enter your password here">
    </div>
    <div class="mt-4">
      <button class="button">
        Log in</button>
    </div>
    <div class="mt-4">
      <a class="font-bold text-blue-700" routerLink="/sign-up">
        Create Account
      </a>
    </div>
  </main>

</div>
