<div class="h-screen flex justify-center items-center">
  <main class="border border-gray-300 p-10 rounded-3xl">
    <h1 class="text-2xl font-bold">Note App Sign Up</h1>
    <p>Create a new user account</p>
    <div class="mt-6">
      <label for="txt-fullname">Full Name</label>
      <input class="input"
             type="email" id="txt-fullname"
             placeholder="Enter your Full name here">
    </div>
    <div class="mt-4">
      <label for="txt-email">Email</label>
      <input class="input"
             type="email" id="txt-email"
             placeholder="Enter your email here">
    </div>
    <div class="mt-4">
      <label for="txt-password">Password</label>
      <input class="input"
             type="password" id="txt-password"
             placeholder="Enter your password here">
    </div>
    <div class="mt-4">
      <label for="txt-confirm-password">Confirm Password</label>
      <input class="input"
             type="password" id="txt-confirm-password"
             placeholder="Enter your password again here">
    </div>
    <div class="mt-4">
      <button class="button">
        Sign Up</button>
    </div>
    <div class="mt-4">
      <a class="font-bold text-blue-700" routerLink="/sign-in">
        Already have an Account
      </a>
    </div>
  </main>

</div>
